<!-- 아임포트 테스트 결제(실결제가 되지않음)
     테스트 결제 후 아임포트 사이트 또는 테스트 결제 전 크롬 F12 콘솔탭을 켜 놓은 후 
     imp_uid 확인 -->

<!DOCTYPE html>
<html lang="ko">
  <head>
    <!-- jQuery -->
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-1.12.4.min.js"
    ></script>
    <!-- iamport.payment.js -->
    <script
      type="text/javascript"
      src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"
    ></script>
    <script>
      function requestPay() {
        const amount = document.getElementById('qqq').value;

        const IMP = window.IMP; // 생략 가능
        IMP.init('imp03477147'); // Example: imp00000000
        IMP.request_pay(
          {
            // param
            pg: 'uplus.tlgdacomxpay',
            pay_method: 'card',
            name: '강사1의 강의1', // 테스트 결제하려는 강의의 이름(여러개라면 첫번째 강의 이름)
            amount: amount, // 강의의 총 가격
            buyer_email: 'gooaba1204@gmail.com', // 구매자 이메일
            buyer_name: '김상훈', // 구매자 이름
            buyer_tel: '010-9949-3276', // 구매자 번호
            // buyer_addr: '서울특별시 강남구 신사동',
            // buyer_postcode: '01181',
          },
          function (rsp) {
            if (rsp.success) {
              // 결제 성공 시 로직,
              const resultBox = document.getElementById('resultBox');
              resultBox.innerHTML =
                '<div style="border: 1px solid #ccc; padding: 10px;">결제에 성공했습니다!!</div>';
              // 결제 정보를 출력
              resultBox.innerHTML +=
                '<pre>' + JSON.stringify(rsp, null, 2) + '</pre>';
              alert('결제에 성공했습니다!!');
            } else {
              // 결제 실패 시 로직,
              const resultBox = document.getElementById('resultBox');
              resultBox.innerHTML =
                '<div style="border: 1px solid #ccc; padding: 10px;">결제에 실패했습니다!!</div>';
              // 결제 정보를 출력
              resultBox.innerHTML +=
                '<pre>' + JSON.stringify(rsp, null, 2) + '</pre>';
              alert('결제에 실패했습니다!!');
            }
          },
        );
      }
    </script>
    <title>결제 테스트</title>
  </head>
  <body>
    결제할금액: <input type="text" id="qqq" />
    <button onclick="requestPay()">결제하기</button>
    <div id="resultBox"></div>
  </body>
</html>
